@charset "UTF-8";
/* 颜色调用函数
------------------------------- */
/* Button 按钮
------------------------------- */
/* Radio 单选框、Checkbox 多选框
------------------------------- */
/* Tag 标签
------------------------------- */
/* Alert 警告
------------------------------- */
/* Button 按钮
------------------------------- */
.el-button--text {
  color: var(--color-primary);
}
.el-button--text:focus, .el-button--text:hover {
  color: var(--color-primary-light-3);
}

.el-button--text:active {
  color: var(--color-primary-light-3);
}

.el-button--default:hover,
.el-button--default:focus {
  color: var(--color-primary);
  background: var(--color-primary-light-8);
  border-color: var(--color-primary-light-6);
}

.el-button--default.is-plain:hover,
.el-button--default.is-plain:focus {
  color: var(--color-primary);
  background: var(--color-whites);
  border-color: var(--color-primary-light-1);
}

.el-button--default:active {
  color: var(--color-primary);
  background: var(--color-whites);
  border-color: var(--color-primary-light-1);
}

.el-button--primary {
  color: var(--color-whites);
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.el-button--primary:hover, .el-button--primary:focus {
  color: var(--color-whites);
  background: var(--color-primary-light-3);
  border-color: var(--color-primary-light-3);
}

.el-button--primary.is-plain {
  color: var(--color-primary);
  background: var(--color-primary-light-8);
  border-color: var(--color-primary-light-6);
}
.el-button--primary.is-plain:hover, .el-button--primary.is-plain:focus {
  color: var(--color-whites);
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: var(--color-whites);
  background: var(--color-primary-light-7);
  border-color: var(--color-primary-light-7);
}

.el-button--primary.is-active,
.el-button--primary:active {
  color: var(--color-whites);
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.el-button--success {
  color: var(--color-whites);
  background: var(--color-success);
  border-color: var(--color-success);
}
.el-button--success:hover, .el-button--success:focus {
  color: var(--color-whites);
  background: var(--color-success-light-3);
  border-color: var(--color-success-light-3);
}

.el-button--success.is-plain {
  color: var(--color-success);
  background: var(--color-success-light-8);
  border-color: var(--color-success-light-6);
}
.el-button--success.is-plain:hover, .el-button--success.is-plain:focus {
  color: var(--color-whites);
  background: var(--color-success);
  border-color: var(--color-success);
}

.el-button--success.is-active,
.el-button--success:active {
  color: var(--color-whites);
  background: var(--color-success);
  border-color: var(--color-success);
}

.el-button--info {
  color: var(--color-whites);
  background: var(--color-info);
  border-color: var(--color-info);
}
.el-button--info:hover, .el-button--info:focus {
  color: var(--color-whites);
  background: var(--color-info-light-3);
  border-color: var(--color-info-light-3);
}

.el-button--info.is-plain {
  color: var(--color-info);
  background: var(--color-info-light-8);
  border-color: var(--color-info-light-6);
}
.el-button--info.is-plain:hover, .el-button--info.is-plain:focus {
  color: var(--color-whites);
  background: var(--color-info);
  border-color: var(--color-info);
}

.el-button--info.is-active,
.el-button--info:active {
  color: var(--color-whites);
  background: var(--color-info);
  border-color: var(--color-info);
}

.el-button--warning {
  color: var(--color-whites);
  background: var(--color-warning);
  border-color: var(--color-warning);
}
.el-button--warning:hover, .el-button--warning:focus {
  color: var(--color-whites);
  background: var(--color-warning-light-3);
  border-color: var(--color-warning-light-3);
}

.el-button--warning.is-plain {
  color: var(--color-warning);
  background: var(--color-warning-light-8);
  border-color: var(--color-warning-light-6);
}
.el-button--warning.is-plain:hover, .el-button--warning.is-plain:focus {
  color: var(--color-whites);
  background: var(--color-warning);
  border-color: var(--color-warning);
}

.el-button--warning.is-active,
.el-button--warning:active {
  color: var(--color-whites);
  background: var(--color-warning);
  border-color: var(--color-warning);
}

.el-button--danger {
  color: var(--color-whites);
  background: var(--color-danger);
  border-color: var(--color-danger);
}
.el-button--danger:hover, .el-button--danger:focus {
  color: var(--color-whites);
  background: var(--color-danger-light-3);
  border-color: var(--color-danger-light-3);
}

.el-button--danger.is-plain {
  color: var(--color-danger);
  background: var(--color-danger-light-8);
  border-color: var(--color-danger-light-6);
}
.el-button--danger.is-plain:hover, .el-button--danger.is-plain:focus {
  color: var(--color-whites);
  background: var(--color-danger);
  border-color: var(--color-danger);
}

.el-button--danger.is-active,
.el-button--danger:active {
  color: var(--color-whites);
  background: var(--color-danger);
  border-color: var(--color-danger);
}

.el-button i.iconfont,
.el-button i.fa {
  font-size: 14px !important;
  margin-right: 5px;
}

.el-button--medium i.iconfont,
.el-button--medium i.fa {
  font-size: 14px !important;
  margin-right: 5px;
}

.el-button--small i.iconfont,
.el-button--small i.fa {
  font-size: 12px !important;
  margin-right: 5px;
}

.el-button--mini i.iconfont,
.el-button--mini i.fa {
  font-size: 12px !important;
  margin-right: 5px;
}

/* Link 文字链接
------------------------------- */
.el-link.el-link--default:hover {
  color: var(--color-primary-light-3);
}

.el-link.el-link--primary {
  color: var(--color-primary);
}
.el-link.el-link--primary:hover {
  color: var(--color-primary-light-3);
}

.el-link.el-link--default::after,
.el-link.is-underline:hover::after,
.el-link.el-link--primary.is-underline:hover::after,
.el-link.el-link--primary::after {
  border-color: var(--color-primary);
}

.el-link.el-link--success {
  color: var(--color-success);
}
.el-link.el-link--success:hover {
  color: var(--color-success-light-3);
}

.el-link.el-link--success.is-underline:hover::after,
.el-link.el-link--success::after {
  border-color: var(--color-success);
}

.el-link.el-link--info {
  color: var(--color-info);
}
.el-link.el-link--info:hover {
  color: var(--color-info-light-3);
}

.el-link.el-link--info.is-underline:hover::after,
.el-link.el-link--info::after {
  border-color: var(--color-info);
}

.el-link.el-link--warning {
  color: var(--color-warning);
}
.el-link.el-link--warning:hover {
  color: var(--color-warning-light-3);
}

.el-link.el-link--warning.is-underline:hover::after,
.el-link.el-link--warning::after {
  border-color: var(--color-warning);
}

.el-link.el-link--danger {
  color: var(--color-danger);
}
.el-link.el-link--danger:hover {
  color: var(--color-danger-light-3);
}

.el-link.el-link--danger.is-underline:hover::after,
.el-link.el-link--danger::after {
  border-color: var(--color-danger);
}

/* Radio 单选框
------------------------------- */
.el-radio__input.is-checked + .el-radio__label,
.el-radio-button__inner:hover {
  color: var(--color-primary);
}

.el-radio__input.is-checked .el-radio__inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: var(--color-whites);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: -1px 0 0 0 var(--color-primary);
}

.el-radio.is-bordered.is-checked,
.el-radio__inner:hover {
  border-color: var(--color-primary);
}

/* Checkbox 多选框
------------------------------- */
.el-checkbox__input.is-checked + .el-checkbox__label,
.el-checkbox-button__inner:hover {
  color: var(--color-primary);
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.el-checkbox__input.is-focus .el-checkbox__inner,
.el-checkbox__inner:hover,
.el-checkbox.is-bordered.is-checked,
.el-checkbox-button.is-focus .el-checkbox-button__inner {
  border-color: var(--color-primary);
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: var(--color-whites);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: -1px 0 0 0 var(--color-primary);
}

.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner {
  border-left-color: var(--color-primary);
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/* Input 输入框、InputNumber 计数器
------------------------------- */
.el-input__inner:focus,
.el-input-number__decrease:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled),
.el-textarea__inner:focus {
  border-color: var(--color-primary);
}

.el-input-number__increase:hover,
.el-input-number__decrease:hover {
  color: var(--color-primary);
}

.el-autocomplete-suggestion__wrap {
  max-height: 280px !important;
}

/* Select 选择器
------------------------------- */
.el-range-editor.is-active,
.el-range-editor.is-active:hover,
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus {
  border-color: var(--color-primary);
}

.el-select-dropdown__item.selected {
  color: var(--color-primary);
}

/* Cascader 级联选择器
------------------------------- */
.el-cascader .el-input .el-input__inner:focus,
.el-cascader .el-input.is-focus .el-input__inner {
  border-color: var(--color-primary);
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-active,
.el-cascader-node.is-selectable.in-checked-path {
  color: var(--color-primary);
}

/* Switch 开关
------------------------------- */
.el-switch.is-checked .el-switch__core {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.el-switch__label.is-active {
  color: var(--color-primary);
}

/* Slider 滑块
------------------------------- */
.el-slider__bar {
  background-color: var(--color-primary);
}

.el-slider__button {
  border-color: var(--color-primary);
}

/* TimePicker 时间选择器
------------------------------- */
.el-time-panel__btn.confirm,
.el-time-spinner__arrow:hover {
  color: var(--color-primary);
}

/* DatePicker 日期选择器
------------------------------- */
.el-date-table td.today span,
.el-date-table td.available:hover,
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover,
.el-picker-panel__icon-btn:hover,
.el-year-table td.today .cell,
.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell,
.el-month-table td .cell:hover,
.el-month-table td.today .cell,
.el-month-table td.current:not(.disabled) .cell,
.el-picker-panel__shortcut:hover {
  color: var(--color-primary);
}

.el-date-table td.current:not(.disabled) span,
.el-date-table td.selected span {
  color: var(--color-whites);
  background-color: var(--color-primary);
}

.el-date-table td.end-date span,
.el-date-table td.start-date span {
  background-color: var(--color-primary);
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div,
.el-date-table td.selected div {
  background-color: var(--color-primary-light-9);
}

/* Upload 上传
------------------------------- */
.el-upload-list__item.is-success .el-upload-list__item-name:focus,
.el-upload-list__item.is-success .el-upload-list__item-name:hover,
.el-upload-list__item .el-icon-close-tip,
.el-upload-dragger .el-upload__text em {
  color: var(--color-primary);
}

.el-upload--picture-card:hover,
.el-upload:focus {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.el-upload-dragger:hover,
.el-upload:focus .el-upload-dragger {
  border-color: var(--color-primary);
}

/* Transfer 穿梭框
------------------------------- */
.el-transfer-panel__item:hover {
  color: var(--color-primary);
}

/* Form 表单
------------------------------- */
.el-form .el-form-item:last-of-type {
  margin-bottom: 0 !important;
}

/* Table 表格
------------------------------- */
.el-table .descending .sort-caret.descending {
  border-top-color: var(--color-primary);
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: var(--color-primary);
}

/* Tag 标签
------------------------------- */
.el-tag {
  color: var(--color-primary);
  background-color: var(--color-primary-light-8);
  border-color: var(--color-primary-light-6);
}

.el-tag .el-tag__close {
  color: var(--color-primary);
}
.el-tag .el-tag__close:hover {
  color: var(--color-whites);
  background-color: var(--color-primary);
}

.el-tag--dark {
  color: var(--color-whites);
  background-color: var(--color-primary);
}

.el-tag--dark .el-tag__close {
  color: var(--color-whites);
}
.el-tag--dark .el-tag__close:hover {
  background-color: var(--color-primary-light-3);
}

.el-tag--plain {
  color: var(--color-primary);
  background-color: var(--color-whites);
  border-color: var(--color-primary-light-3);
}

.el-tag.el-tag--success {
  color: var(--color-success);
  background-color: var(--color-success-light-8);
  border-color: var(--color-success-light-6);
}

.el-tag.el-tag--success .el-tag__close {
  color: var(--color-success);
}
.el-tag.el-tag--success .el-tag__close:hover {
  color: var(--color-whites);
  background-color: var(--color-success);
}

.el-tag--dark.el-tag--success {
  color: var(--color-whites);
  background-color: var(--color-success);
}

.el-tag--dark.el-tag--success .el-tag__close {
  color: var(--color-whites);
}
.el-tag--dark.el-tag--success .el-tag__close:hover {
  background-color: var(--color-success-light-3);
}

.el-tag--plain.el-tag--success {
  color: var(--color-success);
  background-color: var(--color-whites);
  border-color: var(--color-success-light-3);
}

.el-tag.el-tag--info {
  color: var(--color-info);
  background-color: var(--color-info-light-8);
  border-color: var(--color-info-light-6);
}

.el-tag.el-tag--info .el-tag__close {
  color: var(--color-info);
}
.el-tag.el-tag--info .el-tag__close:hover {
  color: var(--color-whites);
  background-color: var(--color-info);
}

.el-tag--dark.el-tag--info {
  color: var(--color-whites);
  background-color: var(--color-info);
}

.el-tag--dark.el-tag--info .el-tag__close {
  color: var(--color-whites);
}
.el-tag--dark.el-tag--info .el-tag__close:hover {
  background-color: var(--color-info-light-3);
}

.el-tag--plain.el-tag--info {
  color: var(--color-info);
  background-color: var(--color-whites);
  border-color: var(--color-info-light-3);
}

.el-tag.el-tag--warning {
  color: var(--color-warning);
  background-color: var(--color-warning-light-8);
  border-color: var(--color-warning-light-6);
}

.el-tag.el-tag--warning .el-tag__close {
  color: var(--color-warning);
}
.el-tag.el-tag--warning .el-tag__close:hover {
  color: var(--color-whites);
  background-color: var(--color-warning);
}

.el-tag--dark.el-tag--warning {
  color: var(--color-whites);
  background-color: var(--color-warning);
}

.el-tag--dark.el-tag--warning .el-tag__close {
  color: var(--color-whites);
}
.el-tag--dark.el-tag--warning .el-tag__close:hover {
  background-color: var(--color-warning-light-3);
}

.el-tag--plain.el-tag--warning {
  color: var(--color-warning);
  background-color: var(--color-whites);
  border-color: var(--color-warning-light-3);
}

.el-tag.el-tag--danger {
  color: var(--color-danger);
  background-color: var(--color-danger-light-8);
  border-color: var(--color-danger-light-6);
}

.el-tag.el-tag--danger .el-tag__close {
  color: var(--color-danger);
}
.el-tag.el-tag--danger .el-tag__close:hover {
  color: var(--color-whites);
  background-color: var(--color-danger);
}

.el-tag--dark.el-tag--danger {
  color: var(--color-whites);
  background-color: var(--color-danger);
}

.el-tag--dark.el-tag--danger .el-tag__close {
  color: var(--color-whites);
}
.el-tag--dark.el-tag--danger .el-tag__close:hover {
  background-color: var(--color-danger-light-3);
}

.el-tag--plain.el-tag--danger {
  color: var(--color-danger);
  background-color: var(--color-whites);
  border-color: var(--color-danger-light-3);
}

/* Progress 进度条
------------------------------- */
.el-progress-bar__inner {
  background-color: var(--color-primary) !important;
}

.el-progress.is-success .el-progress-bar__inner {
  background-color: var(--color-success) !important;
}

.el-progress.is-success .el-progress__text {
  color: var(--color-success) !important;
}

.el-progress.is-warning .el-progress-bar__inner {
  background-color: var(--color-warning) !important;
}

.el-progress.is-warning .el-progress__text {
  color: var(--color-warning) !important;
}

.el-badge__content,
.el-progress.is-exception .el-progress-bar__inner {
  background-color: var(--color-danger) !important;
}

.el-progress.is-exception .el-progress__text {
  color: var(--color-danger) !important;
}

/* Pagination 分页
------------------------------- */
.el-pager li.active,
.el-pager li:hover,
.el-pagination button:hover,
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: var(--color-primary);
}

.el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: var(--color-primary);
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: var(--color-primary);
  color: var(--color-whites);
}

/* Badge 标记
------------------------------- */
.el-badge__content--primary {
  background-color: var(--color-primary);
}

.el-badge__content--success {
  background-color: var(--color-success);
}

.el-badge__content--warning {
  background-color: var(--color-warning);
}

.el-badge__content--danger {
  background-color: var(--color-danger);
}

.el-badge__content--info {
  background-color: var(--color-info);
}

/* Result 结果
------------------------------- */
.el-result .icon-success {
  fill: var(--color-success);
}

.el-result .icon-warning {
  fill: var(--color-warning);
}

.el-result .icon-error {
  fill: var(--color-danger);
}

.el-result .icon-info {
  fill: var(--color-info);
}

/* Alert 警告
------------------------------- */
.el-alert--success.is-light {
  color: var(--color-success);
  background: var(--color-success-light-9);
  border: 1px solid var(--color-success-light-7);
}

.el-alert--success.is-dark {
  color: var(--color-whites);
  background: var(--color-success);
  border: 1px solid var(--color-success-light-7);
}

.el-alert--success.is-light .el-alert__description {
  color: var(--color-success);
}

.el-alert--warning.is-light {
  color: var(--color-warning);
  background: var(--color-warning-light-9);
  border: 1px solid var(--color-warning-light-7);
}

.el-alert--warning.is-dark {
  color: var(--color-whites);
  background: var(--color-warning);
  border: 1px solid var(--color-warning-light-7);
}

.el-alert--warning.is-light .el-alert__description {
  color: var(--color-warning);
}

.el-alert--info.is-light {
  color: var(--color-info);
  background: var(--color-info-light-9);
  border: 1px solid var(--color-info-light-7);
}

.el-alert--info.is-dark {
  color: var(--color-whites);
  background: var(--color-info);
  border: 1px solid var(--color-info-light-7);
}

.el-alert--info.is-light .el-alert__description {
  color: var(--color-info);
}

.el-alert--error.is-light {
  color: var(--color-danger);
  background: var(--color-danger-light-9);
  border: 1px solid var(--color-danger-light-7);
}

.el-alert--error.is-dark {
  color: var(--color-whites);
  background: var(--color-danger);
  border: 1px solid var(--color-danger-light-7);
}

.el-alert--error.is-light .el-alert__description {
  color: var(--color-danger);
}

.el-alert__title {
  word-break: break-all;
}

/* Loading 加载
------------------------------- */
.el-loading-spinner .path {
  stroke: var(--color-primary);
}

.el-loading-spinner .el-loading-text,
.el-loading-spinner i {
  color: var(--color-primary);
}

/* Message 消息提示
------------------------------- */
.el-message {
  background-color: var(--color-info-light-9);
  border-color: var(--color-info-light-8);
  min-width: unset !important;
  padding: 15px !important;
}

.el-message .el-message__content,
.el-message .el-icon-info {
  color: var(--color-info);
}

.el-message--success {
  background-color: var(--color-success-light-9);
  border-color: var(--color-success-light-8);
}

.el-message--success .el-message__content,
.el-message .el-icon-success {
  color: var(--color-success);
}

.el-message--warning {
  background-color: var(--color-warning-light-9);
  border-color: var(--color-warning-light-8);
}

.el-message--warning .el-message__content,
.el-message .el-icon-warning {
  color: var(--color-warning);
}

.el-message--error {
  background-color: var(--color-danger-light-9);
  border-color: var(--color-danger-light-8);
}

.el-message--error .el-message__content,
.el-message .el-icon-error {
  color: var(--color-danger);
}

/* MessageBox 弹框
------------------------------- */
.el-message-box__headerbtn:focus .el-message-box__close,
.el-message-box__headerbtn:hover .el-message-box__close {
  color: var(--color-primary);
}

.el-message-box__status.el-icon-success {
  color: var(--color-success);
}

.el-message-box__status.el-icon-info {
  color: var(--color-info);
}

.el-message-box__status.el-icon-warning {
  color: var(--color-warning);
}

.el-message-box__status.el-icon-error {
  color: var(--color-danger);
}

/* Notification 通知
------------------------------- */
.el-notification .el-icon-success {
  color: var(--color-success);
}

.el-notification .el-icon-info {
  color: var(--color-info);
}

.el-notification .el-icon-warning {
  color: var(--color-warning);
}

.el-notification .el-icon-error {
  color: var(--color-danger);
}

/* NavMenu 导航菜单
------------------------------- */
.el-menu {
  border-right: none !important;
}

.el-menu-item,
.el-submenu__title {
  height: 50px !important;
  line-height: 50px !important;
  color: var(--bg-menuBarColor);
  transition: none !important;
}

.el-menu--horizontal > .el-menu-item.is-active,
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
  border-bottom: 3px solid !important;
  border-bottom-color: var(--color-primary);
  color: var(--color-primary);
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-submenu:focus .el-submenu__title,
.el-menu--horizontal > .el-submenu:hover .el-submenu__title,
.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-submenu.is-active > .el-submenu__title {
  color: var(--color-primary);
}

.el-menu.el-menu--horizontal {
  border-bottom: none !important;
}

.el-menu--horizontal > .el-menu-item,
.el-menu--horizontal > .el-submenu .el-submenu__title {
  color: var(--bg-topBarColor);
}

.el-menu-item a,
.el-menu-item a:hover,
.el-menu-item i,
.el-submenu__title i {
  color: inherit;
  text-decoration: none;
}

.el-menu-item a {
  width: 86%;
  display: inline-block;
}

.el-menu-item:hover,
.el-submenu__title:hover {
  color: var(--color-primary) !important;
  background-color: transparent !important;
}
.el-menu-item:hover i,
.el-submenu__title:hover i {
  color: var(--color-primary);
}

.el-menu-item.is-active {
  color: var(--color-primary);
}

.el-active-extend, #add-is-active:hover, #add-is-active {
  color: #ffffff !important;
  background-color: var(--color-primary) !important;
}
.el-active-extend i, #add-is-active:hover i, #add-is-active i {
  color: #ffffff !important;
}

.el-popper.is-dark a {
  color: #ffffff !important;
  text-decoration: none;
}

.el-popper.is-light .el-menu--vertical {
  background: var(--bg-menuBar);
}
.el-popper.is-light .el-menu--horizontal {
  background: var(--bg-topBar);
}
.el-popper.is-light .el-menu--horizontal .el-menu-item,
.el-popper.is-light .el-menu--horizontal .el-submenu__title {
  color: var(--bg-topBarColor);
}

.el-menu-item .iconfont,
.el-submenu .iconfont {
  font-size: 14px !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
}

.el-submenu [class^=el-icon-] {
  font-size: 14px !important;
}

.el-menu-item:focus {
  background-color: transparent !important;
}

/* Tabs 标签页
------------------------------- */
.el-tabs__item.is-active,
.el-tabs__item:hover,
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active,
.el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  color: var(--color-primary);
}

.el-tabs__active-bar {
  background-color: var(--color-primary);
}

.el-tabs__nav-wrap::after {
  height: 1px !important;
}

/* Breadcrumb 面包屑
------------------------------- */
.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: var(--color-primary);
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  color: var(--bg-topBarColor);
  font-weight: normal;
}

/* Dropdown 下拉菜单
------------------------------- */
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  color: var(--color-primary);
  background-color: var(--color-primary-light-9);
}

/* Steps 步骤条
------------------------------- */
.el-step__title.is-finish,
.el-step__description.is-finish,
.el-step__head.is-finish {
  color: var(--color-primary);
}

.el-step__head.is-finish {
  border-color: var(--color-primary);
}

.el-step__title.is-success,
.el-step__head.is-success {
  color: var(--color-success);
}

.el-step__head.is-success {
  border-color: var(--color-success);
}

.el-step__title.is-error,
.el-step__head.is-error {
  color: var(--color-danger);
}

.el-step__head.is-error {
  border-color: var(--color-danger);
}

.el-step__icon-inner {
  font-size: 30px !important;
  font-weight: 400 !important;
}

.el-step__title {
  font-size: 14px;
}

/* Dialog 对话框
------------------------------- */
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: var(--color-primary);
}

.el-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-overlay .el-dialog {
  margin: 0 auto !important;
}
.el-overlay .el-dialog .el-dialog__body {
  padding: 20px !important;
}

.el-dialog__body {
  max-height: 70vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Card 卡片
------------------------------- */
.el-card__header {
  padding: 15px 20px;
}

/* Timeline 时间线
------------------------------- */
.el-timeline-item__node--primary {
  background-color: var(--color-primary);
}

.el-timeline-item__node--success {
  background-color: var(--color-success);
}

.el-timeline-item__node--warning {
  background-color: var(--color-warning);
}

.el-timeline-item__node--danger {
  background-color: var(--color-danger);
}

.el-timeline-item__node--info {
  background-color: var(--color-info);
}

/* Calendar 日历
------------------------------- */
.el-calendar-table td.is-today {
  color: var(--color-primary);
  background-color: var(--color-primary-light-9);
}

.el-calendar-table .el-calendar-day:hover,
.el-calendar-table td.is-selected {
  background-color: var(--color-primary-light-9);
}

/* Backtop 回到顶部
------------------------------- */
.el-backtop {
  color: var(--color-primary);
}
.el-backtop:hover {
  background-color: var(--color-primary-light-9);
}

/* scrollbar
------------------------------- */
.el-scrollbar__wrap {
  overflow-x: hidden !important;
  max-height: 100%; /*防止页面切换时，滚动条高度不变的问题（滚动条高度非滚动条滚动高度）*/
}

.el-select-dropdown .el-scrollbar__wrap {
  overflow-x: scroll !important;
}

.el-select-dropdown__wrap {
  max-height: 274px !important; /*修复Select 选择器高度问题*/
}

/* Drawer 抽屉
------------------------------- */
.el-drawer__body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.el-drawer-fade-enter-active .el-drawer.rtl {
  animation: rtl-drawer-animation 0.3s ease-in reverse !important;
}

.el-drawer-fade-leave-active .el-drawer.rtl {
  animation: rtl-drawer-animation 0.3s ease !important;
}

.el-drawer-fade-enter-active .el-drawer.ltr {
  animation: ltr-drawer-animation 0.3s ease-in reverse !important;
}

.el-drawer-fade-leave-active .el-drawer.ltr {
  animation: ltr-drawer-animation 0.3s ease !important;
}/*# sourceMappingURL=element.css.map */